persistence:
  enabled: true
  storageClassName: longhorn
  size: 1Gi
admin:
  existingSecret: grafana-admin-secret
route:
  main:
    enabled: true
    parentRefs:
      - name: vpn-gateway
service:
  type: LoadBalancer
  loadBalancerClass: tailscale
  annotations:
    tailscale.com/proxy-group: ts-ingress-proxies
    tailscale.com/hostname: ehpc-io-grafana
    tailscale.com/tags: "tag:monitoring"
