apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: envoy-gateway-addons
  namespace: kube-system
spec:
  chart: oci://docker.io/envoyproxy/gateway-addons-helm
  version: v1.6.0
  targetNamespace: monitoring
  createNamespace: true
  valuesContent: |-
    grafana:
      service:
        type: ClusterIP
      persistence:
        enabled: true
    prometheus:
      server:
        service:
          type: ClusterIP
        global:
          scrape_interval: "20s"
      prometheus-node-exporter:
        enabled: true
      kube-state-metrics:
        enabled: true
    tempo:
      service:
        type: ClusterIP
